In [1]:
import pandas as pd 
import numpy as np
import plotly.graph_objects as go
from datetime import datetime
from math import pi

In [2]:
df = pd.read_csv('./milad.csv')
len(df)

3348

In [3]:

df=df.rename(columns={"ending-value":"close","openning":"open"})
df.head()

,Unnamed: 0,symbol,name,amount,volume,value,lastday,open,last-value,last-change,last-percent,close,ending-change,ending-percent,min,max,year,month,day,date
0,46894,خپارس,پارس‌ خودرو,318,561712,3608122553,6000.0,6000.0,6621.0,621.0,10.35,6621.0,621.0,10.35,4000.0,10000.0,1382,2,17,2003-05-07
1,47002,خپارس,پارس‌ خودرو,94,124799,910907901,6952.0,7299.0,7299.0,347.0,4.99,7299.0,347.0,4.99,7299.0,7299.0,1382,2,21,2003-05-11
2,47135,خپارس,پارس‌ خودرو,139,179535,1375776705,7299.0,7663.0,7663.0,364.0,4.99,7663.0,364.0,4.99,7663.0,7663.0,1382,2,22,2003-05-12
3,47348,خپارس,پارس‌ خودرو,155,221434,1781657964,7663.0,8046.0,8046.0,383.0,5.00,8046.0,383.0,5.00,8046.0,8046.0,1382,2,23,2003-05-13
4,47386,خپارس,پارس‌ خودرو,104,140655,1188253440,8046.0,8448.0,8448.0,402.0,5.00,8448.0,402.0,5.00,8448.0,8448.0,1382,2,24,2003-05-14

In [4]:
stock97=df[np.logical_or(np.logical_or(df["year"]==1396 ,df["year"]==1397),df["year"]==1398)]
print(len(stock97))
stock97.head(10)

580

,Unnamed: 0,symbol,name,amount,volume,value,lastday,open,last-value,last-change,last-percent,close,ending-change,ending-percent,min,max,year,month,day,date
2768,907039,خپارس,پارس‌ خودرو,563,5603631,5042936614,874.0,882.0,903.0,29.0,3.32,890.0,16.0,1.83,882.0,909.0,1396,1,5,2017-03-25
2769,907737,خپارس,پارس‌ خودرو,386,3958349,3497017426,890.0,908.0,880.0,-10.0,-1.12,887.0,-3.0,-0.34,877.0,909.0,1396,1,6,2017-03-26
2770,907905,خپارس,پارس‌ خودرو,455,4834006,4224751019,887.0,895.0,871.0,-16.0,-1.80,880.0,-7.0,-0.79,870.0,895.0,1396,1,7,2017-03-27
2771,908890,خپارس,پارس‌ خودرو,726,9518816,8358247698,880.0,879.0,880.0,0.0,0.00,878.0,-2.0,-0.23,868.0,890.0,1396,1,8,2017-03-28
2772,909243,خپارس,پارس‌ خودرو,611,6628884,5769939692,878.0,880.0,871.0,-7.0,-0.80,872.0,-6.0,-0.68,864.0,880.0,1396,1,9,2017-03-29
2773,909816,خپارس,پارس‌ خودرو,484,5277159,4600517889,872.0,878.0,867.0,-5.0,-0.57,872.0,0.0,0.00,866.0,890.0,1396,1,14,2017-04-03
2774,910131,خپارس,پارس‌ خودرو,556,6676437,5774963041,872.0,884.0,864.0,-8.0,-0.92,867.0,-5.0,-0.57,861.0,884.0,1396,1,15,2017-04-04
2775,910523,خپارس,پارس‌ خودرو,1352,16266390,14133651053,867.0,865.0,886.0,19.0,2.19,869.0,2.0,0.23,850.0,891.0,1396,1,16,2017-04-05
2776,911550,خپارس,پارس‌ خودرو,863,12936706,11745153344,869.0,892.0,912.0,43.0,4.95,908.0,39.0,4.49,880.0,912.0,1396,1,19,2017-04-08
2777,911785,خپارس,پارس‌ خودرو,1650,27657522,26192345997,908.0,940.0,953.0,45.0,4.96,947.0,39.0,4.30,925.0,953.0,1396,1,20,2017-04-09

In [5]:
# stocko= stock97["open"] list  and stockc is stock97["close"] list
stocko=stock97["open"].tolist()
stockc=stock97["close"].tolist()

In [6]:
highs=[]
highs_price=[]
for j in range(len(stocko)): 
    maximum=max(stocko[j],stockc[j])
    if ( (j >10) and (j+10 < len(stocko)) ):
        if (maximum>=max(stocko[j-5:j+5]) and maximum>=max(stockc[j-5:j+5])):
            print("this is a high : " ,j)
            highs.append(j)
            highs_price.append(maximum)

this is a high :  18
this is a high :  31
this is a high :  37
this is a high :  54
this is a high :  69
this is a high :  83
this is a high :  101
this is a high :  115
this is a high :  130
this is a high :  142
this is a high :  145
this is a high :  151
this is a high :  167
this is a high :  173
this is a high :  190
this is a high :  201
this is a high :  212
this is a high :  218
this is a high :  223
this is a high :  255
this is a high :  268
this is a high :  292
this is a high :  314
this is a high :  322
this is a high :  331
this is a high :  354
this is a high :  368
this is a high :  383
this is a high :  391
this is a high :  400
this is a high :  416
this is a high :  425
this is a high :  453
this is a high :  463
this is a high :  477
this is a high :  496
this is a high :  519
this is a high :  536
this is a high :  542
this is a high :  567

In [7]:
fig = go.Figure(data=[go.Candlestick(x=df['date'],
                open=df['openning'],
                high=df['max'],
                low=df['min'],
                close=df['ending-value'])])
fig.update_yaxes(type="log")
fig.show()

KeyError: 'openning'

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
x=np.arange(len(stocko))
plt.figure(num=None, figsize=(6, 4), dpi=150)
plt.scatter(highs, highs_price ,c="r")
xx=np.linspace(0,800,dtype=float)
plt.plot(xx,-0.5090909 * xx +1149.05858 , linestyle="-")
plt.plot(x,stocko,linestyle="-.")

In [8]:
xx=1
yy=-0.5*xx+1149
yy

1148.5

In [9]:
len(stocko)

580

In [10]:
len(highs)

40

In [11]:
my_max=pd.DataFrame(columns=["X","Y"])
my_max["X"]=highs
my_max["Y"]=highs_price
my_max.to_csv("./maximums.csv")
dff=pd.read_csv("./maximums.csv")
dff.head()

   Unnamed: 0   X       Y
0           0  18  1202.0
1           1  31  1099.0
2           2  37  1130.0
3           3  54  1025.0
4           4  69   997.0

In [13]:
a = 2
for i in range(10**8):
    d = a * 5
    a = d + 3
    a = a % 7

In [44]:
xcol = my_max["X"].to_list()
ycol = my_max["Y"].to_list()

In [45]:
#finding the best line 
count_max=0
a_max=0
b_max=0
# all tangents from 80 to -80 digree . i will break them in to 1000 pieces
digree=np.linspace(-80,80,100)
digrees=np.tan(digree*pi / 180)
for point in range(len(my_max)) :
#  x and y are the ones of this point
    x=xcol[point]
    y=ycol[point]
# for this point i am breaking the line into 100 pieces
    b_fakes=np.linspace(y-5,y+5,10)
    for b in b_fakes:
        for a in digrees:
            count=0
            for p in range(point,len(my_max)):
            #  x_ and y_ s are for all next points in new dimensions !!
                x_ = xcol[p]-x
                y_ = ycol[p]
                if((x_*a+b>=y_) and (x_*a+b<=y_+1)):
                    count+=1
            if(count>count_max):
                a_max=a
                b_max=a*(-x)+b
                count_max=count
        
        
print(count_max)

4

In [ ]:
print(a_max,b_max)